<header>
    <div class="container">
      <a href="/Home" class="logo"><img src="RPost_Logo.svg" alt="Logo"></a>
      <!-- Mobile Menu Icon -->
      <span class="mob-menu" (click)="toggleMenu()">
        <img src="menu.png" alt="menu">
      </span>
      <!-- Menu List -->
      <ul [ngClass]="{'open': isMenuOpen}" class="stroke">
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/Contact">Contact</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/Dashboard">Dashboard</a></li>
        <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </header>
  







  
  