<section class="contactPge">
    <div class="container">
        
        <div class="cnct-block">
            <div class="cnctImg">
                <img src="contactUs1.png" alt="contactUs1">
            </div>
            <div class="cnctDesc">
                <h1 class="mb-2">We’re Here for You</h1>
                 <p class="mb-5">We’re the most affordable, feature-rich and elegantly easy to use;<br/> the friendliest to work with. We try harder for you.</p>
                <form>
                    <input type="text" placeholder="Name" id="name" name="name">
                    <input type="text" placeholder="Email Address" id="email" name="email">
                    <input type="text" placeholder="Mobile" id="mob" name="mobile">
                    <a href="#" class="btn-1">Submit</a>
                </form>
            </div>
        </div>
    </div>    
</section>