 <section class="dashboard">
    <div class="container dbdPge">
      <div class="left-panel">
        <h2 class="mb-5">Draggable Elements</h2>
        <!-- Draggable Images -->
        <img id="img1" 
             src="sign-one.png" 
             alt="sign-one" 
             class="draggable" 
             draggable="true" 
             (dragstart)="onDragStart($event, 1)"
             (touchstart)="onTouchStart($event, 1)"  
             (touchmove)="onTouchMove($event)"       
             (touchend)="onTouchEnd($event)" />
  
        <img id="img2" 
             src="stamp1.png" 
             alt="stamp1" 
             class="draggable" 
             draggable="true" 
             (dragstart)="onDragStart($event, 2)"
             (touchstart)="onTouchStart($event, 2)"
             (touchmove)="onTouchMove($event)"
             (touchend)="onTouchEnd($event)" />
      </div>
  
      <div class="right-panel">
        <div class="upload-section">
          <input type="file" (change)="onFileChange($event)" />
          <div *ngIf="uploading" class="progress-bar">
            <div class="progress" [style.width.%]="progress"></div>
          </div>
        </div>
        <div class="uploaded-image" 
             *ngIf="uploadedImage" 
             [style.backgroundImage]="'url(' + uploadedImage + ')'" 
             (dragover)="onDragOver($event)" 
             (drop)="onDrop($event)"
             (touchstart)="onTouchStart($event, 0)"   
             (touchmove)="onTouchMove($event)"        
             (touchend)="onTouchEnd($event)">
        </div>
      </div>
    </div>
    <div class="svePdf">
      <button class="btn-1" (click)="saveToPDF()">Save as PDF</button>
    </div>
  </section>
  