.dashboard {
    
    background: #f6f7f9;
    padding: 100px 20px;
  }
  .dbdPge{display: flex;
    justify-content: space-between;}
  
  .left-panel {
    width: 20%; display: flex;
        flex-direction: column; position: fixed;
  }
  
  .right-panel {
      width: 75%;
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    min-height: 600px;
    text-align: center;
    margin-left: 20%; display: flex;justify-content: center; align-items: center; flex-direction: column;  }
  
  .draggable {
    width: 100px;
    height: 100px;
    cursor: move;
  }
  
  .upload-section {
    margin-bottom: 20px;
  }
  /* .upload-section:before{
    content: "";
    position: absolute;
    background: url(../../../public/image-placeholder.png);
    width: 400px; height: 400px; bottom: 0; top:20%; background-size: cover;
    z-index: 0; opacity: 0.1;
  } */
  
  
  .progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    height: 20px;
    border-radius: 5px;
  }
  
  .progress {
    background-color: green;
    height: 100%;
    border-radius: 5px;
  }
  
  .uploaded-image {
    width: 100%;
    height: 1100px;
    background-size: cover;
    background-position: center;
    border: 2px dashed #ccc;
  }
  
.dashboard .btn-1 { width: 20%;}
.dashboard button { margin-top: 20px;}
.svePdf { text-align: center; padding: 20px 0 0 0;}
/* .upload-section input[type="file"] {z-index: 9; position: relative;} */



/*mobile styles starts*/
@media screen and (max-width:767px){
    .left-panel{width: 100%; position: static; flex-direction: row; justify-content: center; margin-bottom: 40px;}
    .right-panel{width: 100%; margin-left: 0%;}
    .left-panel h2 {display: none;}
    .dbdPge{display: flex;justify-content: space-between;flex-direction: column;}
    .uploaded-image{background-size: contain; background-repeat: no-repeat; background-position: top; height: 450px;}
    .dashboard .btn-1 { width: 46%;}
}
