.dashboard {
    
    background: #f6f7f9;
    padding: 100px 20px;
  }
  .dbdPge{display: flex;
    justify-content: space-between;}
  
  .left-panel {
    width: 300px; display: flex;
        flex-direction: column; position: fixed; background: #fff;
        top: 0;
        bottom: 0;
        height: 100vh;
        padding: 187px 20px 0 20px;
  }
  
  .right-panel {
      width: 75%;
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    min-height: 600px;
    text-align: center;
    margin-left: 23%; display: flex;justify-content: center; align-items: center; flex-direction: column;  }
  
  .draggable {
    width: 100px;
    height: auto;
    cursor: move;
  }
  
  .upload-section {
    margin-bottom: 20px;
  }
  /* .upload-section:before{
    content: "";
    position: absolute;
    background: url(../../../public/image-placeholder.png);
    width: 400px; height: 400px; bottom: 0; top:20%; background-size: cover;
    z-index: 0; opacity: 0.1;
  } */
  
  
  .progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    height: 20px;
    border-radius: 5px;
  }
  
  .progress {
    background-color: green;
    height: 100%;
    border-radius: 5px;
  }
  
  .uploaded-image {
    width: 100%;
    height: 1100px;
    background-size: cover;
    background-position: center;
    border: 2px dashed #ccc;
  }
  
.dashboard .btn-1 { width: 180px;}
.dashboard button { margin-top: 20px;}
.svePdf { text-align: center; padding: 20px 0 0 0;}


/* Style for the progress bar container */
.progress-bar {
  width: 100%;
  height: 20px; 
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

/* Style for the actual progress element */
.progress {
  height: 100%;
  background-color: #4caf50; 
  width: 0; 
  transition: width 0.2s; 
}




/*mobile styles starts*/
@media screen and (max-width:767px){
    .left-panel{width: 100%; position: static; margin-bottom: 40px; background: none;
      height: unset;  padding: 0; display: unset;}
    .right-panel{width: 100%; margin-left: 0%;}
    .left-panel h2 {margin: 0;}
    .dbdPge{display: flex;justify-content: space-between;flex-direction: column;}
    .uploaded-image{background-size: contain; background-repeat: no-repeat; background-position: top; height: 450px;}
    .dashboard .btn-1 { width: 46%;}
}
